@page "/"
@using PondSharp.UserScripts
@using PondSharp.Client.Pond
@using PondSharp.Client.IDE
@using System.Timers
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject IJSRuntime JsRuntime

<div class="container-fluid">
    <div class="row">
        <Header></Header>
    </div>
    <div class="row">
        <div class="col @(_display != DisplayType.Initializing ? "d-none" : "")">
            <div class="jumbotron text-center">
              <h1 class="display-4">Please Wait</h1>
              <p class="lead">Initializing the compiler, and building intitial project.</p>
              <hr class="my-4">
              <p>This may take a few seconds, or much longer depending on the resources available.</p>
            </div>
        </div>
        <div class="col @(_display != DisplayType.Pond ? "d-none" : "")">
            <PondCanvas @ref="_canvas" Width="@_pondWidth" Height="@_pondHeight" GridSize="@_gridSize"></PondCanvas>
            <div class="row">
                <div class="col-auto">
                    <div class="btn-group bottom-tabs">
                        <button class="btn btn-success" @onclick="StartPond" disabled="@(!_ideElement?.IsCompiled ?? IsRunning)">Start</button>
                        <button class="btn btn-warning" @onclick="StopPond" disabled="@(!IsRunning)">Stop</button>
                        <button class="btn btn-danger" @onclick="Reset" disabled="@(!_ideElement?.IsCompiled)">Reset</button>
                    </div>
                </div>
                <div class="col">
                    @if (_availableEntityTypes.Any())
                    {
                        <div class="input-group bottom-tabs">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-primary"
                                        @onclick="@(e => CreateEntity(_selectedType))"
                                        disabled="@(!_ideElement.IsCompiled)">Create</button>
                            </div>
                            <input class="form-control input-count" type="number" @bind="_countToCreate[_selectedType]" min="1"/>
                            <select class="form-control" @bind="_selectedType">
                                @foreach (var (type, name) in _availableEntityTypes)
                                {
                                    <option value="@type">@name</option>
                                }
                            </select>
                            <div class="input-group-append">
                                <span class="input-group-text">Entities</span>
                            </div>
                        </div>
                    }
                </div>
                <div class="col text-monospace text-center">
                    <span>@_output</span> |
                    <span>TPS: <span>@(Math.Ceiling(1000 / (_manager?.CurrentTickTime ?? 1)))</span></span>
                </div>
                <div class="col-auto">
                    <div class="btn-group bottom-tabs">
                        <button class="btn btn-primary" @onclick="() => _display = DisplayType.Ide">Edit Code</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col @(_display != DisplayType.Ide ? "d-none" : "")">
            <IdeElement @ref="_ideElement" IsInitialized="@(() => IdeElementInitialized())"></IdeElement>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" @onclick="@CompileSource">Compile</button>
                    <button class="btn btn-dark" @onclick="() => _display = DisplayType.Pond">Close</button>
                </div>
            </div>
            @if (_errors.Count > 0)
            {
                <div class="bg-warning">
                    @foreach (var error in _errors)
                    {
                        <div class="border-bottom">@error</div>
                    }
                </div>
            }
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <Information OnDoReset="@GetExampleScripts"></Information>
        </div>
    </div>
</div>

@code
{
    private enum DisplayType {Initializing, Pond, Ide}

    private DisplayType _display = DisplayType.Initializing;
    private string _output = "No Instance Loaded";
    private IList<string> _errors = new List<string>();
    private string _selectedType = string.Empty;

    private (string fullName, string name)[] _availableEntityTypes = new (string, string)[0];
    
    private string EntityCountsByType
    {
        get
        {
            if (_engine == null) return "";
            var typeCounts = _availableEntityTypes.ToDictionary(a => a.fullName, a => 0);
            typeCounts.Add("*Other", 0);
            foreach (var entity in _engine.Entities)
                typeCounts[entity.GetType().FullName ?? "*Other"]++;
            
            return string.Join('\n', 
                typeCounts
                    .Where(tc => tc.Value != 0)
                    .Select(typeCount => $"{typeCount.Key}: {typeCount.Value}")
            );
        }
    }

    private readonly Dictionary<string, int> _countToCreate = new Dictionary<string, int>();

    private PondEngine _engine;
    private PondManager _manager;
    
    // Elements are assigned from blazor
#pragma warning disable 649
    private IdeElement _ideElement;
    private PondCanvas _canvas;
#pragma warning restore 649
    
    private int _gridSize = 2;
    private int _pondWidth = 400;
    private int _pondHeight = 300;

    private bool IsRunning => _manager?.IsRunning ?? false;
    
    private readonly Timer _debugUpdateTimer = new Timer(1000);

    protected override void OnInitialized()
    {
        _debugUpdateTimer.Elapsed += (_,__) => StateHasChanged();

        var size = ((IJSInProcessRuntime)JsRuntime).Invoke<int[]>("getSize");
        if (size.Length == 2)
        {
            _pondWidth = (size[0] - 95) / _gridSize;
            _pondHeight = (size[1] - 250) / _gridSize;
        }

        _engine = new PondEngine(_pondWidth, _pondHeight);
        TryCreatePondManager();
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        
        TryCreatePondManager();
        if (_ideElement.IsCompiled)
            await ReadAssemblyInfo();
    }

    private async Task IdeElementInitialized()
    {
        _display = DisplayType.Pond;
        await ReadAssemblyInfo().ConfigureAwait(false);
        await StartPond().ConfigureAwait(false);
        if (_ideElement.IsCompiled && _selectedType != null)
        {
            await CreateEntity(_selectedType).ConfigureAwait(false);
        }
    }

    private async Task ReadAssemblyInfo()
    {
        var types = _ideElement.GetTypesOf(typeof(IEntity));

        _availableEntityTypes = types.Select(t => t.FullName)
            .Select(t => (t, t?.Split('.').Last())).ToArray();

        if (_availableEntityTypes.Length == 0)
        {
            _selectedType = null;
            return;
        }
        
        if (!_availableEntityTypes.Select(a => a.fullName).Contains(_selectedType))
            _selectedType = _availableEntityTypes.First().fullName;
        
        _countToCreate.Clear();
        foreach (var (fullName, _) in _availableEntityTypes)
            _countToCreate.Add(fullName, fullName switch {
                "PondSharp.Examples.Stated" => 500,
                "PondSharp.Examples.Chase" => 100,
                "PondSharp.Examples.Clustering" => 200,
                "PondSharp.Examples.Simple" => 2000,
                "PondSharp.Examples.Rand" => 500,
                _ => 100
            });
        
        foreach (var (fullName, _) in _availableEntityTypes)
            if (await LocalStorage.ContainKeyAsync($"ec-{fullName}").ConfigureAwait(false))
                _countToCreate[fullName] = await LocalStorage.GetItemAsync<int>($"ec-{fullName}").ConfigureAwait(false);
    }

    private void TryCreatePondManager()
    {
        if (_manager != null || _engine == null || _canvas == null) return;
        
        _manager = new PondManager(_engine, _canvas);
    }

    private async Task CreateEntity(string fullName)
    {
        for (var i = 0; i < _countToCreate[fullName]; i++) 
            RealCreateEntity(fullName);
        
        await LocalStorage.SetItemAsync($"ec-{fullName}", _countToCreate[fullName]).ConfigureAwait(false);
    }
    
    private void RealCreateEntity(string fullName)
    {
        _manager.InitializeAndCreateEntity(_ideElement.CreateInstance<Entity>(fullName));
    }

    private Task GetExampleScripts() =>
        _ideElement.GetExampleScripts();

    private async Task CompileSource()
    {
        Reset();

        try
        {
            _output = "Compiling";
            _errors.Clear();
            StateHasChanged();
            await Task.Delay(TimeSpan.FromMilliseconds(100)).ConfigureAwait(false);
            await _ideElement.TriggerSave().ConfigureAwait(false);
            _ideElement.Compile();
            await ReadAssemblyInfo().ConfigureAwait(false);
            await StartPond().ConfigureAwait(false);
            _display = DisplayType.Pond;
            StateHasChanged();
        }
        catch (CompileException e)
        {
            _errors = e.Errors.ToList();
            _output = "Compilation Failure";
            StateHasChanged();
        }
        catch (Exception e)
        {
            _errors = new List<string>(new[] {e.Message});
            _output = "Unknown Failure";
            StateHasChanged();
        }
    }

    private async Task StartPond()
    {
        await _manager.Start().ConfigureAwait(false);
        _debugUpdateTimer.Start();
        _output = "Running";
    }

    private async Task StopPond()
    {
        await _manager.Stop().ConfigureAwait(false);
        _debugUpdateTimer.Stop();
        _output = "Running";
    }

    private void Reset()
    {
        foreach (var instance in _engine.Entities)
        {
            _canvas.DestroyEntity(instance.Id);
        }
        _canvas.ClearChangeQueue();
        _engine.ClearAllEntities();
    }

}
