@page "/"
@using PondSharp.UserScripts
@using PondSharp.Client.Pond
@using PondSharp.Client.IDE
@using System.Timers
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject IJSRuntime JsRuntime

<div class="container-fluid">
    <div class="row">
        <Header></Header>
    </div>
    <div class="row">
        <div class="col @(_display != DisplayType.Initializing ? "d-none" : "")">
            <div class="jumbotron text-center">
              <h1 class="display-4">Please Wait</h1>
              <p class="lead">Initializing the compiler, and building intitial project.</p>
              <hr class="my-4">
              <p>This may take a few seconds, or much longer depending on the resources available.</p>
            </div>
        </div>
        <div class="col @(_display != DisplayType.Pond ? "d-none" : "")">
            <div class="row">
                <div class="col-auto">
                    @if (_engine is not null)
                    {
                        <PondCanvas @ref="_canvas" Width="@_pondWidth" Height="@_pondHeight" GridSize="@_gridSize"></PondCanvas>
                    }
                </div>
                <div class="col">
                    @if (_availableEntityTypes.Any())
                    {
                        <div class="btn-group btn-group-vertical">
                            @foreach (var type in _availableEntityTypes)
                            {
                                <button class="btn btn-outline-primary @(type.FullName == _selectedType ? "active" : "")" @onclick="@(() => _selectedType = type.FullName)">@type.ShortName</button>
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-auto bottom-tabs">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button class="btn btn-success" @onclick="StartPond" disabled="@(!_ideElement?.IsCompiled ?? IsRunning)">Start</button>
                            <button class="btn btn-warning" @onclick="StopPond" disabled="@(!IsRunning)">Stop</button>
                            <button class="btn btn-danger" @onclick="Reset" disabled="@(!_ideElement?.IsCompiled)">Reset</button>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text" id="btnGroupAddon">TPS</div>
                            </div>
                            <input type="number" @bind-value="TickSpeed"/>
                        </div>
                    </div>
                </div>
                <div class="col text-monospace text-center">
                    <span>@_output</span> |
                    <span>TPS: <span>@(Math.Ceiling(1000 / (_manager?.CurrentTickTime ?? 1)))</span></span>
                </div>
                <div class="col-auto">
                    <div class="btn-group bottom-tabs">
                        <button class="btn btn-primary" @onclick="() => _display = DisplayType.Ide">Edit Code</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col @(_display != DisplayType.Ide ? "d-none" : "")">
            <IdeElement @ref="_ideElement" IsInitialized="@(() => IdeElementInitialized())"></IdeElement>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" @onclick="@CompileSource">Compile</button>
                    <button class="btn btn-dark" @onclick="() => _display = DisplayType.Pond">Close</button>
                </div>
            </div>
            @if (_errors.Count > 0)
            {
                <div class="bg-warning">
                    @foreach (var error in _errors)
                    {
                        <div class="border-bottom">@error</div>
                    }
                </div>
            }
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <Information OnDoReset="@GetExampleScripts"></Information>
        </div>
    </div>
</div>

@code
{
    private enum DisplayType {Initializing, Pond, Ide}

    private DisplayType _display = DisplayType.Initializing;
    private string _output = "No Instance Loaded";
    private IList<string> _errors = new List<string>();
    private string _selectedType = string.Empty;

    private AvailableEntityEntry[] _availableEntityTypes = Array.Empty<AvailableEntityEntry>();
    private readonly Dictionary<string, int> _countToCreate = new();

    private PondEngine _engine;
    private PondManager _manager;
    
    // Elements are assigned from blazor
#pragma warning disable 649
    private IdeElement _ideElement;
    private PondCanvas _canvas;
#pragma warning restore 649
    
    private int _gridSize = 6;
    private int _pondWidth = 400;
    private int _pondHeight = 300;

    private bool IsRunning => _manager?.IsRunning ?? false;
    
    private readonly Timer _debugUpdateTimer = new(1000);

    private double TickSpeed
    {
        get => Math.Round(1000/_manager?.TickSpeed ?? 0);
        set
        {
            if (_manager is not null) _manager.TickSpeed = 1000/value;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _debugUpdateTimer.Elapsed += (_,__) => StateHasChanged();

        var size = await JsRuntime.InvokeAsync<int[]>("getSize");
        if (size.Length == 2)
        {
            _pondWidth = (size[0] - 250) / _gridSize;
            _pondHeight = (size[1] - 250) / _gridSize;
        }

        _engine = new(_pondWidth, _pondHeight);
        TryCreatePondManager();
    }
    
    protected override void OnAfterRender(bool firstRender)
    {
        TryCreatePondManager();
        
        if (firstRender && _ideElement.IsCompiled)
            ReadAssemblyInfo();
    }

    private async Task IdeElementInitialized()
    {
        _display = DisplayType.Pond;
        ReadAssemblyInfo();
        await StartPond().ConfigureAwait(false);
        if (_ideElement.IsCompiled)
        {
            CreatedDefaultEntities();
        }
    }

    private void ReadAssemblyInfo()
    {
        var types = _ideElement.GetTypesOf(typeof(IEntity));

        _availableEntityTypes = types.Select(type =>
        {
            PondDefaultsAttribute defaults = null;
            foreach (var attribute in Attribute.GetCustomAttributes(type)) 
                if (attribute is PondDefaultsAttribute d) defaults = d;
            defaults ??= new();
            return new AvailableEntityEntry
            {
                Type = type,
                Defaults = defaults,
                FullName = type.FullName,
                ShortName = type.FullName?.Split('.').Last(),
            };
        }).ToArray();

        if (_availableEntityTypes.Length == 0)
        {
            _selectedType = null;
            return;
        }
        
        if (!_availableEntityTypes.Select(a => a.FullName).Contains(_selectedType))
            _selectedType = _availableEntityTypes.First().FullName;
        
        _countToCreate.Clear();
        foreach (var availableEntity in _availableEntityTypes)
        {
            _countToCreate.Add(availableEntity.FullName, availableEntity.Defaults.NewCount);
        }
    }

    private void CreatedDefaultEntities()
    {
        foreach (var availableEntity in _availableEntityTypes)
        {
            if (availableEntity.Defaults.InitialCount > 0)
                CreateEntity(availableEntity.FullName, availableEntity.Defaults.InitialCount);
        }
    }

    private void TryCreatePondManager()
    {
        if (_manager != null || _engine == null || _canvas == null) return;
        
        _manager = new(_engine, _canvas);
        _canvas.OnClick += (sender, args) =>
        {
            Console.WriteLine($"N: {args.X},{args.Y}");
            _manager.InitializeAndCreateEntity(_ideElement.CreateInstance<Entity>(_selectedType), args.X, args.Y);
        };
    }

    private void CreateEntity(string fullName, int? count = null)
    {
        count ??= _countToCreate[fullName];
        for (var i = 0; i < count; i++) 
            RealCreateEntity(fullName);
    }
    
    private void RealCreateEntity(string fullName)
    {
        _manager.InitializeAndCreateEntity(_ideElement.CreateInstance<Entity>(fullName));
    }

    private Task GetExampleScripts() =>
        _ideElement.GetExampleScripts();

    private async Task CompileSource()
    {
        Reset();

        try
        {
            _output = "Compiling";
            _errors.Clear();
            StateHasChanged();
            await Task.Delay(TimeSpan.FromMilliseconds(100)).ConfigureAwait(false);
            await _ideElement.TriggerSave().ConfigureAwait(false);
            await _ideElement.Compile().ConfigureAwait(false);
            ReadAssemblyInfo();
            await StartPond().ConfigureAwait(false);
            _display = DisplayType.Pond;
            CreatedDefaultEntities();
            StateHasChanged();
        }
        catch (CompileException e)
        {
            _errors = e.Errors.ToList();
            _output = "Compilation Failure";
            StateHasChanged();
        }
        catch (Exception e)
        {
            _errors = new List<string>(new[] {e.Message});
            _output = "Unknown Failure";
            StateHasChanged();
        }
    }

    private async Task StartPond()
    {
        if (_manager is null) return;
        await _manager.Start().ConfigureAwait(false);
        _debugUpdateTimer.Start();
        _output = "Running";
    }

    private async Task StopPond()
    {
        if (_manager is null) return;
        await _manager.Stop().ConfigureAwait(false);
        _debugUpdateTimer.Stop();
        _output = "Running";
    }

    private void Reset()
    {
        foreach (var instance in _engine.Entities)
        {
            _canvas.DestroyEntity(instance.Id);
        }
        _canvas.Clear();
        _engine.ClearAllEntities();
    }

    private class AvailableEntityEntry
    {
        public string FullName;
        public string ShortName;
        public Type Type;
        public PondDefaultsAttribute Defaults;
    }

}
